@import url(index.css);

body{
    background-color: #E1EDF9;
    font-family: 'Space Grotesk', sans-serif;
}

#Accueil{
    background-color: #61bce3;
}

.card{
    margin: 0 auto;
    padding: 20px;
    max-width: 300px;
    background-color:#B4CFE9;
    border-radius: 20px ;
    border-style: solid;
    margin-left: 100px;
    margin-right: 10px;
}

.button{
    margin-left: 110px;
    border-radius: 10px;
}

ul#global1{
    list-style: none;
    margin-top: 60px;
}

ul#global2{
    list-style: none;
    margin-top: 60px;
    margin-bottom: 60px;
}

img{
    border-radius: 15px;
}

#title{
    text-align: center;
}