body{
    background-color: #E1EDF9;
    font-family: 'Space Grotesk', sans-serif;
}

#Accueil{
    background: linear-gradient(#61bce3 20%,#e1edf9);
}

.card{
    margin: 0 auto;
    padding: 20px;
    max-width: 300px;
    background-color:#B4CFE9;
    border-radius: 20px ;
    border-style: solid;
    margin-left: 100px;
    margin-right: 10px;
}


button{
    position: relative;
    margin-left: 115px;
    border-radius: 10px;
    border: none;
    background-color: #B4CFE9;
}

a:link {
    text-decoration: none;
}

#button1{
    top: 70px;
}
#button2{
    top: 5px;
}
#button3{
    top: 46px;
}
#button4{
    top: 6px;
}
#button5{
    top: 108px;
}
#button6{
    top: 46px;
}

ul#global1{
    list-style: none;
    margin-top: 60px;
}

ul#global2{
    list-style: none;
    margin-top: 60px;
    margin-bottom: 60px;
}

img{
    border-radius: 15px;
}

#title{
    text-align: center;
}

