@import url(index.css);

body{
    background-color: #E1EDF9;
    font-family: 'Space Grotesk', sans-serif;
}

.paragraphe1{
    height: 200px;
    width: 800px;
    margin-top: 120px;
    margin-left: 600px;
}

#Dangers_1{
    position: absolute;
    left: 60px;
    border-radius: 10%;
    margin-top: -70px;
}

.paragraphe2{
    height: 400px;
    width: 600px;
    margin-top: 60px;
    margin-left: 20px;
}

#Dangers_2{
    position: absolute;
    right: 20px;
    border-radius: 10%;
}

.paragraphe3{
    height: 400px;
    width: 800px;
    margin-top: 150px;
    margin-left: 600px;
}

#Dangers_3{
    position: absolute;
    left: 20px;
    border-radius: 10%;
    height: 300px;
    width: 500px;
    margin-top: 50px;
}