@import url(./index.css);

body{
    background-color: #E1EDF9;
    font-family: 'Space Grotesk', sans-serif;
}

h1{
    font-weight: bold;
}


.textDefinitions{
    float: left;
    text-align: left;
    width: 900px;
    height: 480px;
    padding-left: 40px;
    margin-top: 25px;
    font-size: 100%;
    /* border: 2px solid red; */
    
}

#imageDefinitions{
    float: right;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-right: 50px;
    margin-top: 40px;
    /* border: 2px solid red; */
}

.textUsages{
    width: 900px;
    float: right;
    text-align: right;
    padding-right: 40px;
    height: auto;
    font-size: 100%;
    margin-bottom: 40px;
    /* border: 2px solid red; */
}

#imageUsages{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-left: 50px;
    margin-bottom: 90px;
    /* border: 2px solid red; */
}

#Fonctions{
    background-color: #61bce3;
}
