@import url(./index.css);

body{
    background-color: #E1EDF9;
    font-family: 'Space Grotesk', sans-serif;
}

h1{
    font-weight: bold;
}


.textDefinitions{
    float: left;
    text-align: justify;
    width: 900px;
    height: 440px;
    padding-left: 50px;
    margin-top: 30px;
    font-size: 100%;
    text-justify: inter-word; 
}

#imageDefinitions{
    float: right;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-right: 70px;
    margin-top: 100px;
}

.textUsages{
    width: 900px;
    float: right;
    text-align: justify;
    margin-right: 50px;
    height: auto;
    font-size: 100%;
    margin-bottom: 40px;
    margin-top: 5px;
    text-justify: inter-word;
}

#imageUsages{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-left: 70px;
    margin-bottom: 90px;
    margin-top: 80px;
}

#Fonctions{
    background-color: #61bce3;
}
