@import url(./index.css);

body{
    margin: auto;
    padding: auto;
    background-color: #E1EDF9;
    font-family: 'Space Grotesk', sans-serif;
}

h1{
    font-weight: bold;
}

#containerDefinitions{
    display: flex;
}

.textDefinitions{
    /* float: left; */
}

#imageDefinitions{
    width: 500px;
    border-radius: 20px;
    float: right;
}

#imageUsages{
    width: 500px;
    border-radius: 20px; 
}

#containerUsages{
    display: flex;
    align-items: center; 
}

.imageDefinitions{
    width: 300px;
}

#Fonctions{
    background-color: #61bce3;
}
