footer{
    background: linear-gradient(#e1edf9,#2067a5 80%);
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: auto;
    justify-content: center;
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
 }
 
  footer ul li a{
     list-style-type: none;
     text-decoration: none;
     display: block;
     padding: 30px;
     color: black;
     margin-right: 170px;
     margin-left: 170px;
  }
 
 /* .footer_button{
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color: #D9D9D9;
    border-color: #2067a5;
    font-size: medium;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 300px;
 }*/
 
 .social_media{
    position: absolute;
    right: 10px;
    margin: 20px;
 }