.footer{
    background-color: #408DAE;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-between;
}

 ul{
    list-style-type: none;
 }

 .reseaux{
    margin-left: 0;
 }

