body{
background-color: #E1EDF9;
}

.form{
    background-color: #B4CFE9;
    padding: 20px;
    border-radius: 20px;
}

input, textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    margin: 5px;
    border: 1px solid;
    border-radius: 3px;
}

input[type=submit]:hover {
    background-color: #66A9C6;
}

input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #408DAE;
    width: 250px;
}


.contact{
    text-align: center;
}

.form{
    display: block;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}