@import url(/assets/css/index.css);

body{
background-color: #E1EDF9;
font-family: 'Space Grotesk', sans-serif;
}

.form{
    background-color: #B4CFE9;
    padding: 20px;
    border-radius: 20px;
}

input, textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    border: 1px solid;
    border-radius: 3px;
}

select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
}

.label-contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input[type=submit]:hover {
    background-color: #66A9C6;
}

input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #408DAE;
    width: 250px;
}


.contact{
    text-align: center;
}

.form{
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

