.header {
    background-image: url(../img/Wallpaper.header.jpg);
    z-index: 2;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
}

.title {
    color: #ffffff;
    text-shadow: #000 2px 2px 0.2rem;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    margin: 110px;
    margin-left: 180px;
    font-size: 30px;
}